body {
  background-color: rgb(203, 203, 203);
  text-align: center;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #ffffff;
  
}
.guest{
  color: green;
  font-weight: 600;
}
.computer{
  color: red;
  font-weight: 600;
}
.dice {
  text-align: center;
  display: inline-block;

}

p {
  font-size: 2rem;
 
  font-family: 'Indie Flower';
}

img {
  width: 80%;
}

footer {
  margin-top: 12%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower',;
}

#button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #c03131;
  border-radius: 5px;
  color: #ffffff;
  align-items: center;
}

#button:hover {
  background-color: aliceblue;
  color: #232931;
  font-size: 2rem;
}

@keyframes spin {
  0% {
    transform: translate(100%, -100%) rotate(0deg);
    opacity: 0;
  }

  5% {
    transform: translate(75%, -50%) rotate(-11.25deg);
    opacity: 0.15;
  }

  10% {
    transform: translate(50%, 0%) rotate(-22.5deg);
    opacity: 0.25;
  }

  15% {
    transform: translate(25%, 25%) rotate(-33.75deg);
    opacity: 0.35;
  }

  20% {
    transform: translate(0%, 50%) rotate(-45deg);
    opacity: 0.5;
  }

  25% {
    transform: translate(-25%, 25%) rotate(-56.25deg);
    opacity: 0.65;
  }

  30% {
    transform: translate(-50%, 0%) rotate(-67.5deg);
    opacity: 0.75;
  }

  35% {
    transform: translate(-25%, -25%) rotate(-78.75deg);
    opacity: 0.85;
  }

  40% {
    transform: translate(0%, -50%) rotate(-90deg);
    opacity: 0.9;
  }

  45% {
    transform: translate(25%, -25%) rotate(-101.25deg);
    opacity: 0.95;
  }

  50% {
    transform: translate(50%, 0%) rotate(-112.5deg);
    opacity: 0.95;
  }

  55% {
    transform: translate(25%, 25%) rotate(-123.75deg);
    opacity: 0.95;
  }

  60% {
    transform: translate(0%, 50%) rotate(-135deg);
    opacity: 0.98;
  }

  65% {
    transform: translate(-25%, 25%) rotate(-146.25deg);
    opacity: 0.95;
  }

  67% {
    transform: translate(-50%, 0%) rotate(-157.5deg);
    opacity: 0.95;
  }

  69% {
    transform: translate(-25%, -25%) rotate(-168.75deg);
    opacity: 0.95;
  }

  71% {
    transform: translate(0%, -50%) rotate(-180deg);
    opacity: 0.9;
  }

  73% {
    transform: translate(25%, -25%) rotate(-191.25deg);
    opacity: 0.95;
  }

  74% {
    transform: translate(50%, 0%) rotate(-202.5deg);
    opacity: 0.95;
  }

  76% {
    transform: translate(25%, 25%) rotate(-213.75deg);
    opacity: 0.95;
  }

  78% {
    transform: translate(10%, 10%) rotate(-230deg);
    opacity: 0.85;
  }

  80% {
    transform: translate(5%, 5%) rotate(-245deg);
    opacity: 0.75;
  }

  82% {
    transform: translate(2%, 2%) rotate(-275deg);
    opacity: 0.65;
  }

  84% {
    transform: translate(0, 0) rotate(-360deg);
    opacity: 0;
  }
  86% {
    transform: translate(10%, 10%) rotate(-360deg);
    opacity: 0;
  }
  88% {
    transform: translate(10%, 10%) rotate(-360deg);
    opacity: 0;
  }
  90% {
    transform: translate(30%, 30%) rotate(-360deg);
    opacity: 0;
  }
  92% {
    transform: translate(50%, 50%) rotate(-360deg);
    opacity: 0;
  }
  96% {
    transform: translate(70%, 70%) rotate(-360deg);
    opacity: 0;
  }
  98% {
    transform: translate(80%, 80%) rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: translate(100%, 100%) rotate(0deg);
    opacity: 0;
  }
}




.roll {
  animation: spin 0.5s linear infinite;
}